.header {
    position: fixed;
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    right: 0;
    background-color: #3498DB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    padding: 0 20px;
}
.header a {
    color: #fff;
    line-height: 40px;
}